@{
    ViewData["Title"] = "Finition modifiée";
}

<div class="container">
    <div class="row mb-5">
        <div class="text-center">
           <h1 class="titre mb-2">@TempData["Message"]</h1>
           <h2 class="soustitre">a bien été modifiée</h2>
           <div class="btn btn-primary mt-5">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Retour à l'accueil</a>
           </div>
        </div>
    </div>
</div>