@{
    ViewData["Title"] = "Voiture ajoutée";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}

@if (!User.IsInRole("Admin"))
{
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="text-center mb-5">
                    <div class="titre">Accès refusé</div>
                    <div class="soustitre">Vous n'êtes pas administrateur du site</div>
                </div>
            </div>
        </div>
    </div>
    return;
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <div class="titre mb-2">Merci !</div>
            <div class="soutitre">votre voiture a bien été publiée</div>
            <div class="btn btn-primary mt-5">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>