@{
    ViewData["Title"] = "Voiture modifiée";
}

<div class="container">
    <div class="row mb-5">
        <div class="text-center">
           <div class="titre mb-2">@ViewBag.NomModifie</div>
           <div class="soustitre">a bien été modifiée</div>
           <div class="btn btn-primary mt-5">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Retour à l'accueil</a>
           </div>
        </div>
    </div>
</div>