@{
    ViewData["Title"] = "Voiture ajoutée";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}

<div class="container">
    <div class="row mb-5">
        <div class="text-center">
            <div class="titre mb-2">@TempData["Message"]</div>
            <div class="soutitre">a bien été publiée</div>
            <div class="btn btn-primary mt-5">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>