@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

navbar-brand {
    font-family: Libre Baskerville;
    font-weight: 700 !important;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: -7%;
    color: rgba(44,24,16,1)
}

.nav-item {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0,0,0,1)
}

    .nav-item:hover {
        font-weight: 700;
    }

.titre {
    font-family: Libre Baskerville !important;
    font-weight: 400 !important;
    font-style: Italic !important;
    font-size: 2.75rem !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    text-align: center !important;
    color: rgba(121,97,87,1) !important;
}

.soustitre {
    font-family: Libre Baskerville !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    text-align: center !important;
    color: rgba(44,24,16,1) !important;
}

.text-normal {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(44,24,16,1)
}

.return-link {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(121,97,87,1)
}

.card-title {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 1.38rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(44,24,16,1)
}

.card-text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(121,97,87,1)
}

.btn-primary {
    background: rgba(217, 169, 99, 1);
    font-family: DM Sans;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(44,24,16,1);
    border-color: rgba(44,24,16,1);
}

    .btn-primary:hover,
    .btn-primary.show { 
        background: rgba(185, 144, 86, 1);
        border-color: rgba(44,24,16,1);
    }

    .btn-primary.dropdown-toggle.show { 
        background: rgba(185, 144, 86, 1);
    }

.dropdown-menu .dropdown-item {
    font-family: DM Sans;   
    font-weight: 400;
    font-size: 1rem;
    color: rgba(44,24,16,1);
}

    .dropdown-menu .dropdown-item:hover,
    .dropdown-menu .dropdown-item:focus {
        background: rgba(185, 144, 86, 1) !important;
        color: rgba(255, 255, 255, 1) !important;
    }



.btn-modifier {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: rgba(255, 255, 255, 1);
    background-color: #0d6efd
}

    .btn-modifier:hover,
    .btn-modifier:focus {
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }

.btn-supprimer {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: rgba(255, 255, 255, 1);
    background-color: #dc3545;
}

    .btn-supprimer:hover,
    .btn-supprimer:focus {
        background-color: #bb2d3b;
        border-color: #b02a37;
    }

.form-label {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(44,24,16,1)
}

.login-title {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 100%;
    letter-spacing: -7%;
    text-align: center;
    color: rgba(44,24,16,1)
}

.plus-icon {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.plus-icon-box {
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
}